.row {
  display: flex;
}

.ai-end {
  align-items: flex-end;
}

.rest {
  flex-grow: 1;
}

/* meaningful classnames */

.chatinput-container {
  border: 1px solid #ddd;
  margin: 6px;
  padding: 10px 16px;
}

.mention-label {
  color: blue;
  font-weight: bold;
}

.suggestion-selected {
  background-color: #eee;
}
